@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grid-icon-size: 50px;
  --grid-icon-width: 2;
  --grid-icon-color: #6936f5;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  @apply text-neutral-900 dark:text-neutral-100;
}

.virtuoso-grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Featured Icons */

.featued-icons-container svg {
  width: 24px;
  height: 24px;
  @apply text-black dark:text-white;
}

.featued-icons-container circle,
rect,
path {
  @apply text-black dark:text-white;
}

/* Icons Container */

.icons-container svg {
  width: var(--grid-icon-size);
  height: var(--grid-icon-size);
  max-width: 100px;
  max-height: 100px;
}

.icons-container > div {
  margin: 1rem;
  width: calc(100% - 2rem) !important;
}

.icons-container svg[stroke]:not([stroke='none']),
.icons-container circle[stroke]:not([stroke='none']),
.icons-container rect[stroke]:not([stroke='none']),
.icons-container ellipse[stroke]:not([stroke='none']),
.icons-container path[stroke]:not([stroke='none']) {
  stroke: var(--grid-icon-color);
}

.icons-container svg[fill]:not([fill='none']),
.icons-container path[fill]:not([fill='none']),
.icons-container circle[fill]:not([fill='none']),
.icons-container ellipse[fill]:not([fill='none']),
.icons-container rect[fill]:not([fill='none']) {
  fill: var(--grid-icon-color);
}

.icons-container svg[stroke-width],
.icons-container rect[stroke-width],
.icons-container ellipse[stroke-width],
.icons-container path[stroke-width] {
  stroke-width: var(--grid-icon-width);
}
