@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  @apply text-black dark:text-white;
}

.grid-icon {
  margin: 0px auto;
}

.grid-icon-wrapper {
  @apply relative pt-[100%] rounded-md cursor-pointer bg-neutral-50 border-neutral-300 border-[2px] dark:bg-neutral-800 dark:border-neutral-700 h-[150px] overflow-hidden hover:border-primary-500 hover:border-2 dark:hover:border-primary-200;
}

.grid-icon-container {
  @apply absolute overflow-hidden w-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
.grid-icon-name {
  @apply text-center whitespace-nowrap overflow-ellipsis overflow-hidden mt-2 text-neutral-700 dark:text-neutral-100;
  padding: 0px 15px;
}

.virtuoso-grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}
