@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  @apply text-black dark:text-white;
}

.grid-icon {
  margin: 0px auto;
}

.grid-icon-wrapper {
  @apply relative rounded-md cursor-pointer bg-neutral-50 border-neutral-300 border-[1px] dark:bg-neutral-800 dark:border-neutral-700 pt-[100%] overflow-hidden;
}

.grid-icon-container {
  @apply absolute items-center flex flex-col top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2;
}

.virtuoso-grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}
